<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
        Links
    </title>
</head>
<body>

<p><a href="/">Home</a></p>

<h1>Liens</h1>

<p>Même liens que dans l'app précédente, mais générés dynamiquement. Essayez ces liens :</p>

<ul>
    <li>
        {# On utilise la variable de views.py  #}
        <a href="{{ first_link }}"><strong>{{ first_link }}</strong></a>
    </li>

    <li>
        {% comment %}
            C'est ce qu'on appelle une "template tag" dans la terminologie Django. C'est comme
            une fonction, mais que l'on peut utiliser dans un template. On doit l'écrire entre
            {% %} et pas {{ }} comme pour les variables. Les paramètres sont listés sur la droite,
            séparés par des espaces, et nom des virgules comme dans une fonction ordinnaire.

            Le tag "url" prend le nom d'une route (et optionnellement des paramètres d'URL) et
            retourne la bonne URL, en ce basant sur tous les urls.py.
        {% endcomment %}
        <a href="{% url 'hello' %}"><strong>{% url 'hello' %}</strong></a>
    </li>

    <li>
        {% comment %}
            {% url 'include' %} ne marche pas et va provoquer une erreur
            disant que Django ne peut trouver de route pour ce nom.
        {% endcomment %}
        <strong>Ceci ne marche pas.</strong>
    </li>

    <li>
        {% comment %}
             Le motif de l'URL attend un nom ((?P<name>\w+)/$), donc nous
             le fournissons avec un paramètre.
        {% endcomment %}
        <a href="{% url 'hello_name' 'world' %}">
            <strong>{% url 'hello_name' 'world' %}</strong>
        </a>
    </li>

    <li>
       {% comment %}
            On peut utiliser le mot clé "as" pour mettre la valeur retournée depuis le tag "url"
            dans une variable. Ceci permet de réutiliser le résultat au lieu d'appeler le tag
            plusieurs fois comme ci-dessus.

            Notez que "as" ne marche pas avec tous les tags.
        {% endcomment %}
        {% url 'hello_name' 'You' as hello_link %}
        <a href="{{ hello_link }}">
            <strong>{{ hello_link }}</strong>
        </a>
    </li>

    <li>
        {% comment %}
             Au fait, vous pouvez passer les paramètres en utilisant leurs noms
             comme on le ferait avec une fonction. L'ordre des paramètres
             est ignoré.
        {% endcomment %}
        {% url 'hello_prefix' prefix='Hey' name='You' as prefixed_link %}
        <a href="{{ prefixed_link }}">
            <strong>{{ prefixed_link }}</strong>
        </a>
    </li>

</ul>

<p>Générer les liens dynamiquement permet de changer facilement de vues, d'urls our même d'apps.</p>

</body>
</html>

