<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
        Routing de base
    </title>
</head>
<body>

<p><a href="/">Home</a></p>

<h1>Routing de base</h1>


<p>Essayez de naviguer sur ces URLs :</p>

<ul>
    <li>
        <a href="./prefix/"><strong>./prefix/</strong></a> : l'URL préfixée statiquement.
    </li>

    <li>
        <a href="./world/"><strong>./world/</strong></a> : un résultat similaire aux apps précédentes.
    </li>

    <li>
        <a href="./You/"><strong>./You/</strong></a> : on peut changer le nom affiché puisqu'il est extrait de l'URL.
    </li>

    <li>
        <a href="./You/Hey/"><strong>./You/Hey/</strong></a> : on peut ajouter le paramètre optionnel.
    </li>

</ul>

<p>Ici nous utilisons des liens statiques, mais on peut aussi créer les liens dynamiquement. Nous verrons cela dans la prochaine app.</p>

</body>
</html>

