<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>

        Basic routing
    </title>
</head>
<body>

<p><a href="/">Home</a></p>

<h1>Basic routing</h1>


<p>Try to navigate to these urls :</p>

<ul>
    <li>
        <a href="./prefix/"><strong>./prefix/</strong>: the statically prefixed URL.</a>
    </li>

    <li>
        <a href="."><strong>.</strong>: this page (does nothing).</a>
    </li>

    <li>
        <a href="./world/"><strong>./world/</strong>: a similar result than the previous apps.</a>
    </li>

    <li>
        <a href="./You/"><strong>./You/</strong>: we can change the name displayed since it's extracted from the URL.</a>
    </li>

    <li>
        <a href="./You/Hey/"><strong>./You/Hey/</strong>: we can add the optional parameter.</a>
    </li>

</ul>

<p>Here we use static links, but we can also create them dynamically. We'll see that in the next app.</p>

</body>
</html>

