<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>
        Outils pour templates
    </title>
</head>
<body>

<p><a href="/">Home</a></p>

<h1>Outils pour templates</h1>

<ul>
    <li><a href="{% url 'template_filters'  %}">Filtres</a></li>
    <li><a href="{% url 'template_tags'  %}">Tags</a></li>
    <li><a href="{% url 'template_inheritance'  %}">Héritage</a></li>
    <li><a href="{% url 'template_includes'  %}">Inclusions</a></li>
    <li><a href="{% url 'direct_to_template'  %}">Faire le rendu d'un template directement</a></li>
</ul>

</body>
</html>

